<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>FlutterDeepLinkingEnabled</key>
    <true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Trucky</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Trucky</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
    <array>
    <dict>
    <key>CFBundleURLSchemes</key>
    <array>
    <string>https</string>
    </array>
    <key>CFBundleURLName</key>
    <string>www.trucky-sa.com</string>
    </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
    <string>fetch</string>
    <string>remote-notification</string>
    </array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires Bluetooth to connect to external audio devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to take photos and record videos.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide location-based services even when the app is closed.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide location-based services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone to record audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires permission to save media to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to store and retrieve media files.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>This app needs permission to send you notifications.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
